<style>
html {
    background-color: #e6e9e9;
    background-image: -webkit-linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    background-image: linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    -webkit-font-smoothing: antialiased;
}
body {
    margin: 0 auto;
    padding: 2em 2em 2em;
    max-width: 1000px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    // color: #545454;
    color: black;
    background-color: #ffffff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
}
h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.2em;
}
h2 {
    margin-top: 1.2em;
    background-color: black;
    color:white;
    display:inline;
}
a {
    color: #0083e8;
}
b, strong {
    font-weight: 600;
}
samp {
    display: none;
}
img {
//    -webkit-animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
//    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
//    border: 10px solid rgba(0, 0, 0, 0.12);
//    border-radius: 4px;
    display: inline;
//    margin: 1.3em auto;
//    max-width: 95%;
}
section {
	float: left;
}
aside{
	float: right;
}
			footer {
				float: clear;
                	margin: 0px;
				padding: 0px;
                background-color: black;
                color: white;
				font-family: "Lucida Grande", Tahoma, Verdana, Arial, Helvetica, sans-serif;
				font-size: 0.8em;
				font-weight: bold;
                text-align: right;
    		    height: 20px;
			}
			 
			nav {
                align: center;
                	margin: 0;
				padding: 0;
				font-family: "Lucida Grande", Tahoma, Verdana, Arial, Helvetica, sans-serif;
				font-size: 1.1em;
				font-weight: bold;
			   
			}
			 
			nav ol {
                text-align: center;
				background-color: #3d3d3d;
				padding: 6px;
			}
			 
			nav li {
				display: inline;
				margin: 0 10px; /*리스트아이템 좌우 10pixel 여백 설정*/
			}
			 
			nav a {
				color: lightgray;
				text-decoration: none;
			}
			 
			nav a:hover {
				color: #fff;
			}
    
    
            p {
                margin: 10px;
                padding: 10px;
            }
    
        #contact{
            text-align: right;
            margin: 10px;
        }
            #aboutme{
                margin: 30px;
        }
    
        #profile {
       border: 10px solid white;
       box-shadow: 5px 5px 2px black;
    }
    
        #photo {
            float:left;
    }
    #research{
        clear:both;
        margin-top: 20px;
    }
    
    form {
        text-align:center
    }
    
    #entrance {
        border-radius: 8px;
        padding: 15px;
        background-color: #2e73c7;
        color: white;
    }
		</style> 
